@import "tailwindcss";

@theme {
  --color-primary: #FF5733;
  --color-secondary-dark: #22CC44;
  --color-brand-blue: #123456;

  --color-custom-green-500: #33FF57;
  --color-custom-green-600: #22CC44;
}
